* {
    text-decoration: none !important;
    list-style: none !important;
    font-family: 'Roboto', sans-serif !important;
    color: black !important;
}

body {
    background-color: #dedede;
}

.active, a:hover {
    color:#6e6e6e !important;
}



/* NAV */
nav {
    background-color: #FFD608;
    font-size: 18px;
}

.navbar-nav a {
    margin-left: 30px;
    letter-spacing: 0.1rem;
}



/* MAIN */
main {
    margin: 5rem 0;
}

h1 {
    margin-bottom: 4rem;
    text-align: center;
    letter-spacing: 0.25rem;
}



/* CARDS */
.card {
    border-radius: 5%;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card img {
    border-radius: 5%;
}

.card:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-15px);
    transition: 0.25s;
}



/* FOOTER */
footer {
    background-color: #99948c;
    padding: 1% 10%;
}

footer div {
    display: flex;
    justify-content: space-around;
}

footer ul {
    padding: 0;
    margin-top: 5%;
}

footer li {
    margin: 2.5% 0;
}

.contact ul li {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.contact ul li p {
    margin: auto;
    margin-left: 5%;
}

.follow div {
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
}

.follow a {
    margin-right: 10%;
}

.line {
    border-top: 1px solid black;
    height: 2px;
    max-width: 35%;
    margin: 0.5rem auto;
}

footer h6 {
    text-align: center;
    margin: 0;
}



/* PAGES */
.conditions, .payment, .faq, .about-us {
    margin: auto;
    font-size: 1rem;
    max-width: 50%;
}

.conditions ul, .payment ul, .faq ul, .about-us ul {
    padding: 0;
}

.conditions ul li, .payment ul li{
    margin: 1% 0;
}



/* CONTACT PAGE */
.contact-section {
    display: flex;
    justify-content: space-evenly;
}

.contact-map{
    overflow: hidden;
    padding-bottom: 25%;
    margin: 1% 20%;
    position: relative;
    height: 0;
}

.contact-map iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}