nav {
    background-color: #FFD608;
    font-size: 1.125rem; }

.nav-item {
    margin-left: 2rem;
    letter-spacing: 0.1rem; }

.navbar-nav .nav-link.active, a:hover, .nav-link:hover {
    color: #6e6e6e; }

.nav-link {
    color: black; }