* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

li {
    list-style: none; }

a {
    text-decoration: none;
    color: black; }

h1 {
    margin-bottom: 2rem;
    text-align: center;
    letter-spacing: 0.25rem; }

main {
    margin: 2rem 0; }